<div id="recipes"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Recepten.Routers.RecipesRouter({recipes: <%= @recipes.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>