<%= title "Listing Recipes" %>

<% @recipes.each do |recipe| %>
  <div class="update">
    <%= render 'recipe', :item => recipe %>
  </div>
<% end %>
<br />

<%= link_to 'New Recipe', new_recipe_path %>