<h1>Listing recipes</h1>

<table id="recipes-table">
  <tr>
    <th>Name</th>
    <th>Instructions</th>
    <th>Post</th>
    <th>Preperation time</th>
    <th>Course</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Recipe</a>