<%= semantic_form_for @user do |f| %>
  <div class="field">
    <%= f.label "Selecteer Foto" %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>