<div id="users">
  <% @users.each do |user| %>
  <div id="user">
        <% if user != current_user %>
        <%= image_tag user.image_url, {:height => 24}%>
          <%= link_to user.name, user %>
          <% if current_user.friends.exists?(user) %>
           (already a friend)
          <% else %>
           (<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>)
          <% end %>
        <% end %>
      </div>
    
    <% end %>
    <%= paginate @users %>
</div>