<div class="ingredients">
  <%= i.input :name, :label => "Naam", :input_html => { :class => 'small'} %>
  <%= i.input :quantity, :label => "Hoeveelheid", :input_html => { :class => 'mini'} %>
  <%= i.input :_destroy, :as => :hidden %>
  <%= link_to_function "verwijder", "remove_fields(this)" %>
 </div>