<div class="ingredients">
  <%= i.input :name, :label => "Naam", :input_html => { :class => 'small'} %>
  <%= i.input :quantity, :label => "Hoeveelheid", :input_html => { :class => 'mini'} %>
  <!--<a class="remove-fields" href="#">removes</a>-->
 </div>
