<div class="ingredients">
  <%= i.input :name, :label => "Naam", :input_html => { :class => 'small'} %>
  <%= i.input :quantity, :label => "Hoeveelheid", :input_html => { :class => 'mini'} %>
  <%= i.input :_destroy, :as => :hidden %>
  <a class="remove-fields" href="#">remove</a>

 </div>