<% unless item.post.user.nil? %>
	<div class="timeline-item">
		<p>
			<% unless item.post.user.picture_url.nil? %>
				<%= image_tag item.post.user.picture_url, {:height => 35} %>
			<% end %>
			<b><%= item.post.user.name %></b>
			heeft een nieuw recept toegevoegd
		</p>
		<p style="padding-left: 10px">
			<%= item.name %>
		</p>
	</div>
<% end %>