<% unless item.post.user.nil? #dit moet niet nodig zijn! %>
	<div class="timeline-item">
		<p>
			<% unless item.post.user.picture_url.nil? %>
				<%= link_to image_tag(item.post.user.picture_url, {:height => 35}), item.post.user %>
			<% end %>
			<b><%= link_to item.post.user.name, item.post.user %></b>
			heeft een nieuw recept toegevoegd
		</p>
		<p style="padding-left: 10px">
			<b><%= link_to item.name, item %></b>
			<% unless item.description.nil? %><%= item.description.truncate(200) %><% end %>
		</p>
	</div>
<% end %>