html, body {
	padding-top: 40px;
	background: transparent url(../images/bg.jpg) left top repeat;
	background-image: url(../assets/bg.jpg);
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-attachment: initial;
	background-position-x: 0%;
	background-position-y: 0%;
	background-origin: initial;
	background-clip: initial;
	background-color: transparent;
s}