<div class="topbar">
	<% if current_user %>
		  <div class="topbar-inner">
	        <div class="container">
	          <a class="brand" href="#">Recepten</a>
	          <ul class="nav">
	           <!-- Menu items hier -->
	          </ul>
	          <h2 class="current-user">
		          <%= image_tag current_user.picture_url, {:height => 24} %>
		          <span class="name">
			          Ingelogd als <%= current_user.name %>
		          	(<%= link_to "Log uit", signout_path %>)
		          	</span>
	          </h2> 
	        </div>
	      </div>
		<% else %>
		  		  <div class="topbar-inner">
	        <div class="container">
	          <a class="brand" href="#">Bootstrap</a>
	          <ul class="nav">
	          </ul>
	          <h2 class="current-user">
	          	<%= link_to 'Sign in', signin_path %>
	          </h2>
	        </div>
	      </div>
	<% end %>
</div>