<div class="topbar">
	<% if current_user %>
		  <div class="topbar-inner">
	        <div class="container">
	          <a class="brand" href="#">Recepten</a>
	          <ul class="nav">
	           <!-- Menu items hier -->
	          </ul>
	          <em>
		          <%= image_tag current_user.picture_url, {:height => 35} %>
		          Ingelogd als <%= current_user.name %>
	          	(<%= link_to "Log uit", signout_path %>)
	          </em> 
	        </div>
	      </div>
		<% else %>
		  		  <div class="topbar-inner">
	        <div class="container">
	          <a class="brand" href="#">Bootstrap</a>
	          <ul class="nav">
	          </ul>
	          <em>
	          	<%= link_to 'Sign in', signin_path %>
	          </em>
	        </div>
	      </div>
	<% end %>
</div>